<div id="center" class="mtb-50px">
        <div id="" class="d-flex justify-content-around" style="width:90%">
          <div id="center" class="carousel-item active">
            <a id="center" href="{{url_for('find',gender=0)}}" >
              <img class="h-300px w-80" src="../../static/image/female.jpg" alt="this is an image">
              <div class="text-right m-40px carousel-caption mb-100px d-none d-md-block">
                <h5 class="">Bạn là nam?</h5>
              </div>
            </a>
          </div>
          <div id="center" class="carousel-item active">
            <a id="center" href="{{url_for('find',gender=1)}}" >
              <img class="h-300px w-80" src="../../static/image/male.jpg" alt="this is an image">
              <div class="text-left pl-50px carousel-caption mb-100px d-none d-md-block">
                <h5 class="">Bạn là nữ?</h5>
              </div>
            </a>
          </div>
        </div>
      </div>