<div class="h-450px w-100">
    <h4 class="h-20 w-100 text-dark d-flex align-items-center justify-content-center">
        Các gói dịch vụ
    </h4>
    <div class="h-80 w-100 d-flex justify-content-center">
        <div class="h-100 w-30 mx-3">
            <div class="h-20 w-100 bg-secondary d-flex px-4 align-items-center border">
                <h5 class="text-light">Gói cơ bản</h5>
            </div>
            <div class="h-60 w-100 d-flex px-4 py-4 flex-wrap py-3 border">
                <h6>Dẫn bạn về nhà</h6>
                <h6>Ăn cơm cùng gia đình</h6>
                <h6 class="text-black-50">Không năm tay hay tiếp xúc dưới bất kì hình thức nào</h6>
                <h6 class="text-black-50">Bạn không phụ giúp gia đình các công việc nấu nướng dọn dẹp</h6>
            </div>
            <div class="h-20 w-100 d-flex justify-content-end align-items-center px-4 border">
                <button type="button" class="btn btn-dark w-75 h-50">
                    <i class="fas fa-heart mx-1"></i>
                    Tìm hiểu thêm
                </button>
            </div>
        </div>
        <div class="h-100 w-30 mx-3">
            <div class="h-20 w-100 bg-secondary d-flex px-4 align-items-center border">
                <h5 class="text-light">Gói tiêu chuẩn</h5>
            </div>
            <div class="h-60 w-100 d-flex px-4 py-4 flex-wrap py-3 border">
                <h6>Dẫn bạn về nhà</h6>
                <h6>Ăn cơm cùng gia đình</h6>
                <h6>Cho phép nắm tay thể hiện tình cảm</h6>
                <h6 class="text-black-50">Bạn không phụ giúp gia đình các công việc nấu nướng dọn dẹp</h6>
            </div>
            <div class="h-20 w-100 d-flex justify-content-end align-items-center px-4 border">
                    <button type="button" class="btn btn-dark w-75 h-50">
                        <i class="fas fa-heart mx-1"></i>
                        Tìm hiểu thêm
                    </button>
                </div>
        </div>
        <div class="h-100 w-30 mx-3">
            <div class="h-20 w-100 bg-dark d-flex px-4 align-items-center border">
                <h5 class="text-light">Gói cao cấp</h5>
            </div>
            <div class="h-60 w-100 d-flex px-4 py-4 flex-wrap py-3 border">
                <h6>Dẫn bạn về nhà</h6>
                <h6>Ăn cơm cùng gia đình</h6>
                <h6>Cho phép nắm tay thể hiện tình cảm</h6>
                <h6>Bạn sẽ phụ giúp gia đình các công việc nấu nướng dọn dẹp</h6>
                <h6 class="text-primary">Và nhiều bất ngờ khác</h6>
            </div>
            <div class="h-20 w-100 d-flex justify-content-end align-items-center px-4 border">
                    <button type="button" class="btn btn-dark w-75 h-50">
                        <i class="fas fa-heart mx-1"></i>
                        Tìm hiểu thêm
                    </button>
                </div>
        </div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>