<div class="bg-all d-flex justify-content-center ">
    <div class="w-90">
        <h2 class="mtb-50px text-center text-white">Khách hàng bình chọn</h2>
    
        <div class="d-flex flex-wrap justify-content-center">
            <div class="bg-1 border h-200px w-15 mr-70px mb-50px">
            </div>
            <div class="bg-1 border h-200px w-15 mr-70px mb-50px">
            </div>
            <div class="bg-1 border h-200px w-15 mr-70px mb-50px">
            </div>
            <div class="bg-1 border h-200px w-15 mr-70px mb-50px">
            </div>
            <div class="bg-1 border h-200px w-15 mr-70px mb-50px">
            </div>
            <div class="bg-1 border h-200px w-15 mr-70px mb-50px">
            </div>
            <div class="bg-1 border h-200px w-15 mr-70px mb-50px">
            </div>
            <div class="bg-1 border h-200px w-15 mr-70px mb-50px">
            </div>
        </div>
    
    </div>
</div>