<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Dang ky tai khoan</h1>
    <form method = "POST">
        <label>Full Name</label>
        <input type="text" name="fullname" value="Hoang Manh Ha">
        <br>
        <label>Email</label>
        <input type="text" name="email" value="hoangha.techkid@gmail.com">
        <br>
        <label>Username</label>
        <input type="text" name="username">
        <br>
        <label>Password</label>
        <input type="password" name="password">
        <br>
        <input type="submit" value="submit">

    </form>

</body>
</html>