<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New_service</title>
</head>
<body>
    <h1>Add new service here</h1>
    <form method="post">
        <label>Ten</label>                      
        <input type="text" name = "name">
        
        <label >Yob</label>
        <input type="text" name = "yob">

        <label>Gender:</label>
        <input type="radio" name="gender" value=1 checked> Male
        <input type="radio" name="gender" value=0> Female
        
        <label >Address</label>
        <input type="text" name = "address">

        <label >Chiều cao</label>
        <input type="text" name = "chieu_cao"

        <label >Đặc điểm</label>
        <input type="text" name = "dac_diem"

        <label >Số đo 3 vòng</label>
        <input type="text" name = "so_do"

        <button type="submit">Gui di</button>
    </form>
</body>
</html>