<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pilot App</title>
    {% include 'meta-data.html' %}
</head>
<body>
    {% include 'homepage/navigation.html' %}
    {% include 'homepage/carousel.html' %}
    <div class="w-100 h-20">
        {% include 'homepage/welcome.html' %}
    </div>
    {%include 'homepage/option.html'%}
    {%include 'homepage/vote.html'%}
    {% include 'homepage/service_intro.html'%}
    {% include 'homepage/footer.html'%}
</body>
</html>