<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New service page</title>
  </head>
  <body>
    <h1>Create new service</h1>
    <form method='post'>
      <label>Name:</label>
      <br>
      <input type="text" name="name">
      <br>

      <label>Yob:</label>
      <br>
      <input type="text" name="yob">
      <br>

      <label>Phone:</label>
      <br>
      <input type="text" name="phone">
      <br>

      <label>Gender:</label>
      <br>
      <input type="radio" name="gender" value=1 checked> Male
      <br>
      <input type="radio" name="gender" value=0> Female

      <br>

      <input type="submit" name="">
    </form>
  </body>
</html>