<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New_service</title>
</head>
<body>
    <h1>Add new service here</h1>
    <form method="post">
        <br>
        <label>Ten</label>                      
        <input type="text" name = "name">
        <br>
        <label >Yob</label>
        <input type="text" name = "yob">
        <br>
        <label>Gender:</label>
        <input type="radio" name="gender" value=1> Male
        <input type="radio" name="gender" value=0> Female    
        <br>
        <label >Chiều cao</label>
        <input type="text" name = "height">
        <br>
        <label >Đặc điểm</label>
        <input type="text" name = "description">
        <br>
        <button type="submit">Gửi di</button>

    </form>
</body>
</html>